---
layout: default
css-include: /css/main.css
sorted: 1
---

<section id="kHeader" class="carousel">
    <div class="carousel-item active">
        <div class="carousel-item-content pl-4 pr-4">
            <div class="slide-background" style="background-image: url(/assets/img/screenshot.png)"></div>
            <div class="carousel-text-overlay">
                <h1>marK</h1>
                <p>Scientific tool for annotation of machine learning datasets</p>
            </div>
        </div>
    </div>
</section>


<main aria-label="Content" id="content" class="container">
    <h1>{{ site.title }} — {{ site.description }}</h1>
    
    <p><b>marK</b> is a machine learning dataset annotation tool which allows users to annotate multiple types of data to help on the training for supervised classification problems. It currently offers support for images and text annotation, with the possibility of extending for other types of data in the future, such as audios and videos.</p>
    
    <h2>Features</h2>
    
    <h3>Image Datasets</h3>
    
    <p>blablabla</p>
    
    <h3>Text Datasets</h3>
    
    <p>blablabla</p>
    
    <h3>XML and JSON support</h3>
    
    <p>blablabla</p>

    {% include blog.html %}

</main>
